%base-flex {
  display: flex;
}

%center-row-flex {
  @extend %base-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

%flex-wrap {
  @extend %base-flex;
  flex-wrap: wrap;
  gap: 10px;
}
